a(href='/').home-letter g

mixin input(opts)
  - var type = attributes.type
  .input(field=opts.name)
    - if (opts.icon)
      i(class='#{opts.icon}')

    - if (attributes.type == 'textarea')
      textarea(required, placeholder=attributes.placeholder, name='#{opts.name}')
    - else
      input(type=type, required, placeholder=attributes.placeholder, name='#{opts.name}')

h3.page-title Hire gee.io
.contact
  form(accept-charset='UTF-8', autocomplete='off', name='hire', action='thanks', netlify)
    +input({name: 'name', icon: 'ion-person'})(type='text', placeholder='What is your name?')
    +input({name: 'email', icon: 'ion-email'})(type='email', placeholder='What is your email address?')
    +input({name: 'phone', icon: 'ion-ios7-telephone'})(type='tel', placeholder='What is your phone number?')
    +input({name: 'what', icon: 'ion-help'})(type='textarea', placeholder='What do you want to hire me for?')
    +input({name: 'budget', icon: 'ion-pricetag'})(type='text', placeholder='What is your budget?')
    .clearfix
      input(name='saveForm', type='submit', value='Submit')



